.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  padding: 16px;
  padding-left: 21px;
  width: 70px; /* Set the width */
}
.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.res-card {
  padding: 5px;
  width: 199px;
  background-color: rgb(201, 218, 218);
  text-align: center;
  justify-content: space-between;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.res-logo {
  width: 100%;
  height: 50%;
}
.filter-btn {
  background-color: rgb(215, 206, 231);
  margin: 8px;
  cursor: pointer;
}
.filter-btn :hover {
  cursor: pointer;
  border: 1px solid black;
  border-color: rgb(255, 255, 255);
}
.shimmer {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  height: 250px;
  width: 180px;
  background-color: rgb(234, 238, 241);
  margin: 20px;
}
.login {
  padding: 0px 10px;
  margin: 10px;
}
.filter {
  display: flex;
}
.search {
  background-color: rgb(215, 206, 231);
  margin: 8px;
  cursor: pointer;
}
.search :hover {
  cursor: pointer;
  border: 1px solid black;
  border-color: rgb(255, 255, 255);
}
.about {
  background-color: rgb(197, 202, 207);
  text-align: center;
}
